



  footer{
    text-align: center;
    background-color: #aeabab;
    padding: 5px 0;
    
  }

  .sigueme{
    padding-top: 25px;
    transform: translateY(-50%);
  }

  .img-linkedin{
    width: 30px;
    height: 30px;
    transform: translateY(-100%);
  }
  .img-github{
    width: 30px;
    height: 30px;
    transform: translateY(-100%);
  }

  footer p{
    transform: translateY(-150%);
  }

     /* 
 
  background: linear-gradient(#f3f5fc, #aeabab);
  */