*{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

html{
    background-color: #f3f5fc;
}

.logo{
    margin: 2% auto;
    width: 120px;
    height: auto;
}

main{
    width: 90%;
    height: auto;
    margin: 1em auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.caja-texto{
    position: relative;
    margin: 3em 2% 2% 0.5rem;
    width: 85%;
    height: 8em;
    padding: 3%;
    background-color: #f3f5fc;
    border: none;
    cursor: pointer;
    color: #0a3871;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    transition: 1s all;
    outline: none;
}

.caja-texto::placeholder{
    color:#0a3871 ;
}

.contenedor-botones{
    display: flex;
    margin: 1% auto 5%;
    position: relative;
    top: 2em;
    left: 0.1em;
}

.btn{
    width: 328px;
    padding: 24px;
    font-size: 16px;
    margin: 2%;
    border: 1px solid #0a3871;
    border-radius: 24px;
    cursor: pointer;
}

.btn:hover{
    transform: scale(1.1);
    box-shadow: 0pc 40px 80px -8px rgba(0, 0, 0, 0.10);
}

#encriptar,#copia{
    background-color: #0a3871;
    color: white;
}

#desencriptar{
    background-color: #d8dfe8;
    color: #0a3871;
}

.section2{
    margin: auto;
    width: 400px;
    height: 610px;
    flex-shrink: 0;
    text-align: center;
    border-radius: 32px;
    background: white;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.10);
}

.mensaje{
    color: var(--Gray-gray-500, #343a40);
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.mensaje p{
    margin: 18px;
    color: var(--Gray-gray-400, #495057);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

#copia{
    margin: auto;
}

.contenedor-resultado{
    position: static;
    width: 100%;
    height: 71%;
    padding: 5%;
    text-align: left;
    display: none;
}

.texto-resultado{
    width: 90%;
    color: var(--Gray-gray-400, #495057);
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;

}

/*--------------Footer------------------*/

  footer{
    text-align: center;
    width: 70%;
    
  }

  .sigueme{
    padding-top: 25px;
    transform: translateY(-50%);
  }

  .redes img{
    display: inline;
    position: relative;
    height: 30px;
    width: 30px;
    margin: 0 2px;
  }
 
 /*-------------CSS de Celular-----------*/

 @media screen and (max-width: 480px){
    *{
        width: auto;
        height: auto;
    }

    main{
        width: 90%;
    }

    .section1{
        width: 100%;
    }

    .caja-texto{
        width: 90%;
        margin: 10% auto;
    }

    .contenedor-botones{
        width: auto;
        display: block;
    }

    .btn{
        width: 90%;
        margin: 3% auto;
    }

    .btn:hover{
        transform: none;
    }

    .section2{
        position: relative;
        width: 95%;
        height: auto;
        margin: 15% auto;
    }

    .contenedor-resultado{
        height: auto;
    }

    footer{
        margin: 1% auto;
        
    }

    .redes{
        margin:  auto ;
    }

 }